<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
  <title>Aplikasi Pencari Lowongan Pekerjaan || Index</title>
</head>
<body>
  <main class="container">
    <h1>Pencari Lowongan Pekerjaan</h2>
    <h4>Carilah Lowongan Pekerjaan yang Anda Inginkan</h4>
    <form action="/search" method="get">
        <input type="text" name="keyword" placeholder="Ketik Lowongan di Bawah ini." />
        <input type="radio" id="komputer_ti" name="taggar" value="komputer_ti">
        <label for="html">Komputer / IT</label><br>
        <input type="radio" id="manufaktur" name="taggar" value="manufaktur">
        <label for="css">Manufaktur</label><br>
        <input type="radio" id="keuangan" name="taggar" value="keuangan">
        <label for="javascript">Keuangan</label>
        <input type="radio" id="telekomunikasi" name="taggar" value="telekomunikasi">
        <label for="css">Telekomunikasi</label><br>
        <input type="radio" id="ritel" name="taggar" value="ritel">
        <label for="javascript">Ritel</label>
        <button>Cari</button>
    </form>
  </main>
</body>
</html>